/vendor/
.ddev/
/web/sites/default/files/css/
/web/sites/default/files/js/
/web/sites/default/files/php/
/web/sites/default/files/styles/
/private/*.key
.DS_Store
k8s/secrets.yml
Thumbs.db
.DS_Store
Thumbs.db
.vscode/
node_modules/
